<%- include("header") -%>

  <h1>this is a about page </h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam veniam commodi assumenda quam porro in delectus
    illum adipisci vero, iure reprehenderit earum corporis cupiditate dolores, soluta voluptas fuga id quas.</p>

  <%- include("footer")%>